/* 
    Created on : 17-dec-2015, 13:18:41
    Author     : Guus
*/

#main-view {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: 0;
    right: 0
}

#control-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: #e1e1e1;
}