/* 
    Created on : 17-dec-2015, 13:18:41
    Author     : Guus
*/

* {
    font-family: Helvetica, Arial, sans-serif;
}

#main-view {
    position: absolute;
    top: 0;
    bottom: 200px;
    left: 0;
    right: 0
}

#control-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: #e1e1e1;
}

#slider{
    position: relative;
    width: 80%;
    margin: auto;
}

path {
        fill: none;
        stroke: black;
        stroke-width: 2px;
      }